<a href="https://colab.research.google.com/github/wonkwonlee/a2w-kma-big-data-contest/blob/main/weather_data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# 경로 설정 
import os
os.chdir('/content/drive/MyDrive/Colab Notebooks')

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
weather = pd.read_csv("../A2W/데이터/ASOS_최종/ASOS_final.csv")
landslide = pd.read_csv("data/landslide_history.csv", encoding='cp949')

In [ ]:
landslide

         date    sd     sgg  umd  sum_cnt  sum_hpa
0    20110709  경상남도     밀양시  내일동        1     1.20
1    20110709  경상남도     밀양시  단장면        4     3.70
2    20110709  경상남도     밀양시  무안면        5     4.20
3    20110709  경상남도     밀양시  부북면        6     7.80
4    20110709  경상남도     밀양시  산외면        1     2.00
..        ...   ...     ...  ...      ...      ...
354  20191003  경상북도  포항시 북구  장량동        1     0.02
355  20191003  경상북도  포항시 북구  중앙동        1     0.40
356  20191003  경상북도  포항시 북구  청하면        4     0.93
357  20191003  경상북도  포항시 북구  환여동        1     0.10
358  20191003  경상북도  포항시 북구  흥해읍        2     1.10

[359 rows x 6 columns]

In [ ]:
landslide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359 entries, 0 to 358
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     359 non-null    int64
 1   sd       359 non-null    object
 2   sgg      359 non-null    object
 3   umd      359 non-null    object
 4   sum_cnt  359 non-null    int64
 5   sum_hpa  359 non-null    float64
dtypes: float64(1), int64(2), object(3)
memory usage: 17.0+ KB

In [ ]:
# 산사태 발생 이력과 날씨 데이터의 날짜를 날짜형 자료로 변환

landslide['date'] = pd.to_datetime(landslide['date'], format='%Y%m%d')
weather['tm'] = pd.to_datetime(weather['tm'])
landslide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359 entries, 0 to 358
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     359 non-null    datetime64[ns]
 1   sd       359 non-null    object
 2   sgg      359 non-null    object
 3   umd      359 non-null    object
 4   sum_cnt  359 non-null    int64
 5   sum_hpa  359 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 17.0+ KB

In [ ]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101895 entries, 0 to 101894
Data columns (total 62 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   stnId           101895 non-null  int64
 1   stnNm           101895 non-null  object
 2   tm              101895 non-null  datetime64[ns]
 3   avgTa           101811 non-null  float64
 4   minTa           101885 non-null  float64
 5   minTaHrmt       101887 non-null  float64
 6   maxTa           101881 non-null  float64
 7   maxTaHrmt       101881 non-null  float64
 8   mi10MaxRn       23240 non-null   float64
 9   mi10MaxRnHrmt   17200 non-null   float64
 10  hr1MaxRn        23246 non-null   float64
 11  hr1MaxRnHrmt    17740 non-null   float64
 12  sumRnDur        10435 non-null   float64
 13  sumRn           34976 non-null   float64
 14  maxInsWs        101866 non-null  float64
 15  maxInsWsWd      101869 non-null  float64
 16  maxInsWsHrmt    101869 non-null  float64
 17  maxWs           101860 non-null  float64
 18  maxWsWd         101869 non-null  float64
 19  maxWsHrmt       101869 non-null  float64
 20  avgWs           101828 non-null  float64
 21  hr24SumRws      101823 non-null  float64
 22  maxWd           101603 non-null  float64
 23  avgTd           101739 non-null  float64
 24  minRhm          101823 non-null  float64
 25  minRhmHrmt      101824 non-null  float64
 26  avgRhm          101723 non-null  float64
 27  avgPv           101730 non-null  float64
 28  avgPa           101781 non-null  float64
 29  maxPs           101852 non-null  float64
 30  maxPsHrmt       101857 non-null  float64
 31  minPs           101852 non-null  float64
 32  minPsHrmt       101857 non-null  float64
 33  avgPs           101783 non-null  float64
 34  ssDur           101885 non-null  float64
 35  sumSsHr         101700 non-null  float64
 36  hr1MaxIcsrHrmt  41861 non-null   float64
 37  hr1MaxIcsr      41852 non-null   float64
 38  sumGsr          41853 non-null   float64
 39  ddMefs          687 non-null     float64
 40  ddMefsHrmt      754 non-null     float64
 41  ddMes           1306 non-null    float64
 42  ddMesHrmt       1300 non-null    float64
 43  sumDpthFhsc     811 non-null     float64
 44  avgTca          41533 non-null   float64
 45  avgLmac         40171 non-null   float64
 46  avgTs           101820 non-null  float64
 47  minTg           101818 non-null  float64
 48  avgCm5Te        35356 non-null   float64
 49  avgCm10Te       35314 non-null   float64
 50  avgCm20Te       35382 non-null   float64
 51  avgCm30Te       35356 non-null   float64
 52  avgM05Te        12443 non-null   float64
 53  avgM10Te        12448 non-null   float64
 54  avgM15Te        9854 non-null    float64
 55  avgM30Te        9852 non-null    float64
 56  avgM50Te        9850 non-null    float64
 57  sumLrgEv        23177 non-null   float64
 58  sumSmlEv        27289 non-null   float64
 59  n99Rn           6269 non-null    float64
 60  iscs            17837 non-null   object
 61  sumFogDur       1689 non-null    float64
dtypes: datetime64[ns](1), float64(58), int64(1), object(2)
memory usage: 48.2+ MB

In [ ]:
landslide

          date    sd     sgg  umd  sum_cnt  sum_hpa
0   2011-07-09  경상남도     밀양시  내일동        1     1.20
1   2011-07-09  경상남도     밀양시  단장면        4     3.70
2   2011-07-09  경상남도     밀양시  무안면        5     4.20
3   2011-07-09  경상남도     밀양시  부북면        6     7.80
4   2011-07-09  경상남도     밀양시  산외면        1     2.00
..         ...   ...     ...  ...      ...      ...
354 2019-10-03  경상북도  포항시 북구  장량동        1     0.02
355 2019-10-03  경상북도  포항시 북구  중앙동        1     0.40
356 2019-10-03  경상북도  포항시 북구  청하면        4     0.93
357 2019-10-03  경상북도  포항시 북구  환여동        1     0.10
358 2019-10-03  경상북도  포항시 북구  흥해읍        2     1.10

[359 rows x 6 columns]

In [ ]:
weather

        stnId  ... sumFogDur
0         115  ...       NaN
1         130  ...       NaN
2         136  ...       NaN
3         137  ...       NaN
4         138  ...       NaN
...       ...  ...       ...
101890    285  ...       NaN
101891    288  ...       NaN
101892    289  ...       NaN
101893    294  ...       NaN
101894    295  ...       NaN

[101895 rows x 62 columns]

In [ ]:
landslide['sgg'].value_counts()

하동군          25
함양군          24
합천군          23
산청군          21
포항시 북구       20
김천시          19
고성군          18
경주시          17
영덕군          17
성주군          14
거창군          13
진주시          11
양산시          10
창녕군          10
울진군          10
밀양시          10
남해군          10
김해시           9
통영시           9
고령군           7
의령군           6
창원시 의창구       6
사천시           6
창원시 마산합포구     5
구미시           5
포항시 남구        5
영양군           5
함안군           4
청도군           4
창원시 마산회원구     3
영천시           2
창원시 성산구       2
상주시           2
영주시           2
울릉군           2
창원시 진해구       1
예천군           1
청송군           1
Name: sgg, dtype: int64

In [ ]:
landslide['location'] = landslide['sgg'].str[0:2]
landslide

          date    sd     sgg  umd  sum_cnt  sum_hpa location
0   2011-07-09  경상남도     밀양시  내일동        1     1.20       밀양
1   2011-07-09  경상남도     밀양시  단장면        4     3.70       밀양
2   2011-07-09  경상남도     밀양시  무안면        5     4.20       밀양
3   2011-07-09  경상남도     밀양시  부북면        6     7.80       밀양
4   2011-07-09  경상남도     밀양시  산외면        1     2.00       밀양
..         ...   ...     ...  ...      ...      ...      ...
354 2019-10-03  경상북도  포항시 북구  장량동        1     0.02       포항
355 2019-10-03  경상북도  포항시 북구  중앙동        1     0.40       포항
356 2019-10-03  경상북도  포항시 북구  청하면        4     0.93       포항
357 2019-10-03  경상북도  포항시 북구  환여동        1     0.10       포항
358 2019-10-03  경상북도  포항시 북구  흥해읍        2     1.10       포항

[359 rows x 7 columns]

In [ ]:
# 지역 명 컬럼(Location)을 ASOS 기준으로 통일

for i in range(len(landslide['location'])):
  if landslide['location'][i] == '울릉':
    landslide['location'][i] = '울릉도'
  elif landslide['location'][i] == '김해':
    landslide['location'][i] = '김해시'
  elif landslide['location'][i] == '양산':
    landslide['location'][i] = '양산시' 
  elif landslide['location'][i] == '의령':
    landslide['location'][i] = '의령군'
  elif landslide['location'][i] == '함양':
    landslide['location'][i] = '함양군'
  elif landslide['location'][i] == '청송':
    landslide['location'][i] = '청송군'
  elif landslide['location'][i] == '경주':
    landslide['location'][i] = '경주시'
  # 창원의 경우 북창원과 창원 구분이 필요함
  elif landslide['location'][i] == '창원시 마산합포구':
    landslide['location'][i] = '창원'
  elif landslide['location'][i] == '창원시 마산회원구':
    landslide['location'][i] = '북창원'
  elif landslide['location'][i] == '창원시 성산구':
    landslide['location'][i] = '북창원'
  elif landslide['location'][i] == '창원시 진해구':
    landslide['location'][i] = '창원'
  elif landslide['location'][i] == '창원시 의창구':
    landslide['location'][i] = '북창원'

In [ ]:
# ASOS 날씨 데이터 기준 sites
sites = ['115', '130', '136', '137', '138', '143', '152', '155', '159', '253', '255', '257', '263', '264', '271', '272', '273', '162', '192', '276', '277', '278', '279', '281', '283', '284', '285', '288', '289', '294', '295']

sites_index = ['울릉도', '울진', '안동', '상주', '포항', '대구', '울산', '창원', '부산', '김해시', '북창원', '양산시', '의령군', '함양군', '봉화', '영주', '문경', '통영', '진주', '청송군', '영덕', '의성', '구미', '영천', '경주시', '거창', '합천', '밀양', '산청', '거제', '남해']

dic = {key:value for key, value in zip(sites_index, sites)}

landslide['stnId'] = 0

for i in range(len(landslide['location'])):
  landslide['stnId'][i] == dic[landslide['location'][i]]

KeyError: ignored